.container-fluid.issue-wrap
  .row
    .col-lg-12
      .card.text-left.margin-top-20
        .card-header 任务列表
        .card-body
          table.table.table-sm
            thead
              tr
                th 任务编号
                th 任务名称
                th 任务负责人
                th 任务创建时间
            tbody
              tr
                td 111
                td 任务名称111
                td john
                td 2018-03-15 06:06:06
              tr
                td 222
                td 任务名称222
                td mary
                td 2018-03-15 06:06:06
              tr
                td 333
                td 任务名称333
                td july
                td 2018-03-15 06:06:06
