.tab-nav-wrap
  .tab-team-change-wrap
    .dropdown
      button.btn.ts-btn-team-change.dropdown-toggle(type='button', data-toggle='dropdown')
        | 中移物联网团队
      .dropdown-menu
        a.dropdown-item(href='#') TS团队
        a.dropdown-item(href='#') 团队一
        a.dropdown-item(href='#') 团队二
  ul.nav.nav-pills(role='tablist')
    li.nav-item
      a.nav-link.active(data-toggle='pill', href='#home') 任务
    li.nav-item
      a.nav-link(data-toggle='pill', href='#menu1') 分享
    li.nav-item
      a.nav-link(data-toggle='pill', href='#menu2') 文件
    li.nav-item
      a.nav-link(data-toggle='pill', href='#menu2') 日程
    li.nav-item
      a.nav-link(data-toggle='pill', href='#menu2') 群聊


