.container-fluid.team-wrap
  .row
    .col-lg-8
      .card.text-left.margin-top-20
        .card-header 团队项目
        .card-body
          table.table.table-sm
            thead
              tr
                th 项目编号
                th 项目名称
                th 项目负责人
            tbody
              tr
                td 111
                td 项目名称111
                td john
              tr
                td 222
                td 项目名称222
                td mary
              tr
                td 333
                td 项目名称333
                td july
      .card.text-left.margin-top-20
        .card-header 团队任务
        .card-body
          table.table.table-sm
            thead
              tr
                th Firstname
                th Lastname
                th Email
            tbody
              tr
                td John
                td Doe
                td john@example.com
              tr
                td Mary
                td Moe
                td mary@example.com
              tr
                td July
                td Dooley
                td july@example.com
    .col-lg-4
      .card.text-left.margin-top-20
        .card-header 团队成员
        .card-body
          table.table.table-sm
            thead
              tr
                th Firstname
                th Lastname
                th Email
            tbody
              tr
                td John
                td Doe
                td john@example.com
              tr
                td Mary
                td Moe
                td mary@example.com
              tr
                td July
                td Dooley
                td july@example.com
      .card.text-left.margin-top-20
        .card-header 团队动态
        .card-body
          table.table.table-sm
            thead
              tr
                th Firstname
                th Lastname
                th Email
            tbody
              tr
                td John
                td Doe
                td john@example.com
              tr
                td Mary
                td Moe
                td mary@example.com
              tr
                td July
                td Dooley
                td july@example.com

